*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/backdrop.jpg);
    background-size: 100vw;
    background-color: black;
    padding-top: 18vh;
    padding-left: 25vw;
}
.main{
    /* border: 2px solid white; */
    background-image: url(../images/blacklap.jpg);
    opacity: 80%;
    max-width: 55vw;
    min-height: 30vw;
}
.side{
    background-image: url(../images/vault.jpg);
    background-size: 150%;
    /* opacity: 100%; */
}
.form{
    text-align: center;
    padding: 5%;
}
.loginheading{
    color: white;
    font-size: 22px;
    font-weight: 900;
    margin: 20px;
    text-decoration: underline;
    letter-spacing: 1.7px;
}
.inputBox{
    display: block;
    margin: 40px auto;
    width: 80%;
    background: transparent;
    border: white solid 1px;
    outline: none;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
    color: white;
}
.submit{
    background: transparent;
    border: white solid 1px;
    width: 65%;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    color: black;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}
.redirect{
    cursor: pointer;
    color: white;
    margin: 18px auto;
}
.redirect:hover{
    color: rgb(181, 179, 176);
    font-weight: 600;
    text-decoration: underline;
}